article {
  scroll-snap-type: y mandatory;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  scroll-snap-align: center;
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}
