article {
  scroll-snap-type: y mandatory;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 20px solid blue;
}

section {
  scroll-snap-align: center;
  display: block;
  width: 80%;
  height: 80%;
  text-align: center;
  border: 20px solid green;
  background-color: red;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}
