@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Dosis';
  src: url('/Dosis-VariableFont_wght.ttf') format('true type');
}

:root {
  font-family: 'Dosis', 'Exo 2';
}

* {
  box-sizing: border-box;
}
